<h3> Username: {{firstName}} {{lastName}}</h3>
<h4> id:</h4><label>{{id}}</label>
<h4> Username:</h4><label>{{username}}</label>
<h4> First name: </h4><label>{{firstName}} </label>
<h4> Last name: </h4><label>{{lastName}} </label>
<h4> Profession: </h4><label>{{profession}} </label>
<h4> Bio: </h4><label>{{bio}}</label>